{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Lotes index{% endblock %}

{% block page_title %} Toros {% endblock %}
{% block page_subtitle %}  index {% endblock %}

{% block page_content_before %}
 <div class="row">
    <div class="col-md-6 col-xs-6 tablecontainer">
    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>         
                <th data-column-id="nombre">Nombre</th>     
                  <th data-column-id="info">PreOferta</th>
                <th data-column-id="condicionventa">Condicion de venta</th>
                <th data-column-id="fechainicio" data-formatter="fechainicio">Fecha de Inicio</th>
                <th data-column-id="fechacierre" data-formatter="fechacierre">Fecha de Cierre</th>          
              <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acciones </th>
            </tr>
        </thead>       
    </table>
 </div>
    <a clas="btn-success" href="{{ path('cabana_new') }}">Nueva Cabaña</a>
     </div>
{% endblock %}

 {% block customjavascripts %}
    <script>
     InitializaGrid('grid-data','Cabana',["nombre"]);
    </script>
 {% endblock %}
