<div class="marker">
<form method="post" action="{{ path('razas_delete', {'id': raza.id}) }}" onsubmit="{{ deletemsg }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ raza.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
</div>